body {
  background: #2e3440;
}

@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Comfortaa Bolder";
  src: url("./fonts/Comfortaa-Bold.ttf");
  font-weight: bolder;
}

@font-face {
  font-family: "Comfortaa Bold";
  src: url("./fonts/Comfortaa-SemiBold.ttf");
  font-weight: bold;
}

#header-text {
  display: flex;
  justify-content: center;
}

#number-window {
  border: 1px;
  border-radius: 8px;
  border: solid;
  border-color: #3882f6;
  background-color: #4c566a;
  height: 95px;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 10px;
  margin-top: 30px;
}

#num-display {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #978e48;
  font-size: xxx-large;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

#numbers {
  display: flex;
  justify-content: center;
}

.calc-window {
  display: flex;
  flex-direction: column;
  background-color: #d8dee9;
  width: 600px;
  height: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  gap: 5px;
}

button {
  width: 140px;
  height: 90px;
  background-color: #ebcb8b;
  border-radius: 8px;
  font-size: x-large;
}

#divBtn {
  float: right;
  margin-right: 8px;
}

#clearBtn {
  width: 428px;
  background-color: #8fbcbb;
}

#zeroBtn {
  width: 284px;
}

#divBtn,
#mulBtn,
#subBtn,
#addBtn,
#equalBtn {
  background-color: #d08770;
}
